html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Work Sans", sans-serif;
}

.navbar {
  width: 100%;
  height: 100px;
  background-color: #2b2b2b;
}
.navbar .container {
  width: 1280px;
  margin: auto;
}
.navbar .navbar_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 50px;
}
.navbar .navbar_container .navbar_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 32px;
}
.navbar .navbar_container .navbar_left .navbar_logo {
  width: 32px;
  height: 32px;
}
.navbar .navbar_container .navbar_left .navbar_logo_words {
  margin-left: 12px;
  margin-top: 8.6px;
  margin-bottom: 3.6px;
  width: 199.41px;
  height: 19.8px;
}
.navbar .navbar_container .navbar_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.navbar .navbar_container .navbar_right > a {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #fff;
  text-decoration: none;
  padding: 20px;
}
.navbar .navbar_container .navbar_right > button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  width: 152px;
  height: 60px;
  background: #a259ff;
  border: 1px solid transparent;
  border-radius: 20px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  color: #fff;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.navbar .navbar_container .navbar_right > button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.navbar .navbar_container .navbar_right > img {
  display: none;
}

@media screen and (max-width: 1280px) {
  .navbar {
    height: 54px;
  }
  .navbar .container {
    width: 834px;
    margin: auto;
  }
  .navbar .navbar_container {
    padding: 15px 50px;
  }
  .navbar .navbar_container .navbar_left {
    height: 24px;
  }
  .navbar .navbar_container .navbar_left .navbar_logo {
    width: 24px;
    height: 24px;
  }
  .navbar .navbar_container .navbar_left .navbar_logo_words {
    margin-left: 9px;
    margin-top: 6.45px;
    margin-bottom: 2.7px;
    width: 149.56px;
    height: 14.85px;
  }
  .navbar .navbar_container .navbar_right > a {
    display: none;
  }
  .navbar .navbar_container .navbar_right > button {
    display: none;
  }
  .navbar .navbar_container .navbar_right > img {
    display: initial;
  }
}
@media screen and (max-width: 834px) {
  .navbar .container {
    width: 375px;
    margin: auto;
  }
  .navbar .navbar_container {
    padding: 15px 30px;
  }
}
.container {
  width: 1050px;
  margin: auto;
}

.info {
  width: 100%;
  background-color: #2b2b2b;
}
.info .info_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 80px;
  padding-bottom: 80px;
}
.info .info_container .info_left {
  margin-right: 30px;
}
.info .info_container .info_left > h1 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 67px;
  line-height: 74px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: capitalize;
  color: #fff;
  margin-bottom: 20px;
  width: 510px;
  height: 222px;
}
.info .info_container .info_left > p {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 160%;
  text-transform: capitalize;
  color: #ffffff;
  margin-bottom: 30px;
}
.info .info_container .info_left > button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  width: 224px;
  height: 60px;
  background: #a259ff;
  font-family: "Work Sans";
  border-radius: 20px;
  border: 1px solid transparent;
  color: #fff;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.info .info_container .info_left > button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.info .info_container .info_left .ratings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}
.info .info_container .info_left .ratings .rating {
  width: 150px;
  margin-right: 30px;
}
.info .info_container .info_left .ratings .rating > h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 140%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: capitalize;
  color: #fff;
}
.info .info_container .info_left .ratings .rating > p {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 160%;
  text-transform: capitalize;
  color: #ffffff;
  font-size: 23.99px;
}
.info .info_container .info_right {
  width: 510px;
  height: 510px;
  background: #3b3b3b;
  border-radius: 20px;
}
.info .info_container .info_right > img {
  width: 510px;
  height: 401px;
}
.info .info_container .info_right .blur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  gap: 10px;
  width: 510px;
  height: 109px;
}
.info .info_container .info_right .blur > h5 {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  text-transform: capitalize;
  color: #fff;
}
.info .info_container .info_right .blur .blur_words {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.info .info_container .info_right .blur .blur_words > p {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 160%;
  text-transform: capitalize;
  color: #ffffff;
  font-size: 16px;
  margin-left: 12px;
}
.info .info_container .info_mobile_media {
  display: none;
}

@media screen and (max-width: 1280px) {
  .container {
    width: 690px;
  }
  .info .info_container .info_left > h1 {
    width: 330px;
    height: 138px;
    font-size: 38px;
    line-height: 46px;
  }
  .info .info_container .info_left > p {
    font-size: 16px;
    line-height: 140%;
    width: 330px;
    height: 66px;
    margin-bottom: 20px;
  }
  .info .info_container .info_left .ratings {
    margin-top: 20px;
    width: 330px;
    height: 57px;
  }
  .info .info_container .info_left .ratings .rating {
    width: 90px;
    height: 57px;
  }
  .info .info_container .info_left .ratings .rating > h4 {
    font-size: 22px;
    line-height: 160%;
  }
  .info .info_container .info_left .ratings .rating > p {
    font-size: 16px;
    line-height: 140%;
  }
  .info .info_container .info_right {
    width: 330px;
    height: 330px;
  }
  .info .info_container .info_right > img {
    width: 330px;
    height: 221px;
  }
  .info .info_container .info_right .blur {
    padding: 20px;
    gap: 10px;
    width: 330px;
    height: 109px;
  }
  .info .info_container .info_right .blur .blur_words {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .info .info_container .info_right .blur .blur_words > p {
    line-height: 140%;
    margin-left: 12px;
  }
}
@media screen and (max-width: 834px) {
  .container {
    width: 315px;
  }
  .info .info_container {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .info .info_container .info_right {
    display: none;
  }
  .info .info_container .info_left {
    display: none;
  }
  .info .info_container .info_mobile_media {
    display: initial;
    width: 315px;
    height: 706px;
  }
  .info .info_container .info_mobile_media > h1 {
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 67px;
    line-height: 74px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-transform: capitalize;
    color: #fff;
    font-size: 28px;
    line-height: 40px;
    width: 315px;
    height: 78px;
    margin-bottom: 10px;
  }
  .info .info_container .info_mobile_media > p {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 160%;
    text-transform: capitalize;
    color: #ffffff;
    font-size: 16px;
    line-height: 140%;
    width: 315px;
    height: 66px;
    margin-bottom: 40px;
  }
  .info .info_container .info_mobile_media .info_picture {
    width: 315px;
    height: 315px;
    background: #3b3b3b;
    border-radius: 20px;
  }
  .info .info_container .info_mobile_media .info_picture > img {
    width: 315px;
    height: 206px;
  }
  .info .info_container .info_mobile_media .info_picture .blur_mobile {
    width: 315px;
    height: 109px;
  }
  .info .info_container .info_mobile_media .info_picture .blur_mobile > h5 {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 140%;
    text-transform: capitalize;
    color: #fff;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-left: 20px;
  }
  .info .info_container .info_mobile_media .info_picture .blur_mobile .blur_mobile_words {
    margin-left: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .info .info_container .info_mobile_media .info_picture .blur_mobile .blur_mobile_words > img {
    width: 24px;
    height: 24px;
  }
  .info .info_container .info_mobile_media .info_picture .blur_mobile .blur_mobile_words > p {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 160%;
    text-transform: capitalize;
    color: #ffffff;
    font-size: 16px;
    line-height: 140%;
    margin-left: 12px;
  }
  .info .info_container .info_mobile_media > button {
    margin-bottom: 40px;
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 12px;
    width: 315px;
    height: 60px;
    background: #a259ff;
    font-family: "Work Sans";
    border-radius: 20px;
    border: 1px solid transparent;
    color: #fff;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    cursor: pointer;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .info .info_container .info_mobile_media > button:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  .info .info_container .info_mobile_media .ratings {
    width: 315px;
    height: 57px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .info .info_container .info_mobile_media .ratings .rating {
    width: 85px;
    height: 57px;
  }
  .info .info_container .info_mobile_media .ratings .rating > p {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 160%;
    text-transform: capitalize;
    color: #ffffff;
    font-size: 16px;
    line-height: 140%;
  }
  .info .info_container .info_mobile_media .ratings .rating > h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 140%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-transform: capitalize;
    color: #fff;
    font-size: 22px;
    line-height: 160%;
  }
}
.collection {
  width: 100%;
  background-color: #2b2b2b;
}
.collection .collection_container {
  padding-top: 80px;
  padding-bottom: 80px;
}
.collection .collection_container > h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 120%;
  text-transform: capitalize;
  color: #fff;
  margin-bottom: 10px;
}
.collection .collection_container > p {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 160%;
  text-transform: capitalize;
  color: #ffffff;
}
.collection .collection_container .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
}
.collection .collection_container .cards .card {
  margin-right: 30px;
  width: 330px;
  height: 525px;
  border-radius: 20px;
}
.collection .collection_container .cards .card > img {
  width: 330px;
  height: 330px;
  border-radius: 20px;
}
.collection .collection_container .cards .card .images {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}
.collection .collection_container .cards .card .images > img {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  margin-right: 15px;
}
.collection .collection_container .cards .card .images > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 32px 15px;
  gap: 10px;
  width: 100px;
  height: 100px;
  color: #fff;
  background: #a259ff;
  border-radius: 20px;
}
.collection .collection_container .cards .card .images > div > h5 {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  text-transform: capitalize;
  color: #fff;
}
.collection .collection_container .cards .card > h5 {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  text-transform: capitalize;
  color: #fff;
  margin-bottom: 10px;
}
.collection .collection_container .cards .card .collection_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.collection .collection_container .cards .card .collection_footer > img {
  margin-right: 12px;
  width: 24px;
  height: 24px;
}
.collection .collection_container .cards .card .collection_footer > p {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 160%;
  text-transform: capitalize;
  color: #ffffff;
  font-size: 16px;
  line-height: 140%;
}

@media screen and (max-width: 1280px) {
  .collection .collection_container {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .collection .collection_container > h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 140%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-transform: capitalize;
    color: #fff;
    font-weight: 600;
  }
  .collection .collection_container > p {
    font-size: 16px;
    line-height: 140%;
  }
  .collection .collection_container .cards {
    margin-top: 40px;
  }
  .collection .collection_container .cards .hidden {
    display: none;
  }
}
@media screen and (max-width: 834px) {
  .collection .collection_container .cards .card > img {
    width: 315px;
    height: 315px;
  }
  .collection .collection_container .cards .card .images > img {
    width: 95px;
    height: 95px;
  }
  .collection .collection_container .cards .hide {
    display: none;
  }
}