.container {
  width: 1050px;
  margin: auto;
}
.info {
  width: 100%;
  background-color: $background;
  .info_container {
    display: flex;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    .info_left {
      margin-right: 30px;
      width: 510px;
      > h1 {
        @include H1;
        margin-bottom: 20px;
        width: 510px;
        height: 222px;
      }
      > p {
        @include BodyText;
        margin-bottom: 30px;
      }
      .ratings {
        display: flex;
        margin-top: 30px;
        .rating {
          width: 150px;
          margin-right: 30px;
          > h4 {
            @include H4;
          }
          > p {
            @include BodyText;
            font-size: 23.99px;
          }
        }
      }
    }
    .info_right {
      width: 510px;
      height: 510px;
      background: $background-secondary;
      border-radius: 20px;
      > img {
        width: 510px;
        height: 401px;
      }
      .blur {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        gap: 10px;
        width: 510px;
        height: 109px;
        > h5 {
          @include H5;
        }
        .blur_words {
          display: flex;
          > p {
            @include BodyText;
            font-size: 16px;
            margin-left: 12px;
          }
        }
      }
    }
    .info_mobile_media {
      display: none;
    }
  }
}
body {
  background-color: $background;
}
@media screen and (max-width: 1280px) {
  .container {
    width: 690px;
  }
  .info {
    .info_container {
      .info_left {
        > h1 {
          width: 330px;
          height: 138px;
          font-size: 38px;
          line-height: 46px;
        }
        > p {
          font-size: 16px;
          line-height: 140%;
          width: 330px;
          height: 66px;
          margin-bottom: 20px;
        }
        .ratings {
          margin-top: 20px;
          width: 330px;
          height: 57px;
          .rating {
            width: 90px;
            height: 57px;
            > h4 {
              font-size: 22px;
              line-height: 160%;
            }
            > p {
              font-size: 16px;
              line-height: 140%;
            }
          }
        }
      }
      .info_right {
        width: 330px;
        height: 330px;
        > img {
          width: 330px;
          height: 221px;
        }
        .blur {
          padding: 20px;
          gap: 10px;
          width: 330px;
          height: 109px;
          .blur_words {
            display: flex;
            > p {
              line-height: 140%;
              margin-left: 12px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 834px) {
  .container {
    width: 315px;
  }
  .info {
    .info_container {
      padding-top: 40px;
      padding-bottom: 40px;
      .info_right {
        display: none;
      }
      .info_left {
        display: none;
      }
      .info_mobile_media {
        display: initial;
        width: 315px;
        height: 706px;
        > h1 {
          @include H1;
          font-size: 28px;
          line-height: 40px;
          width: 315px;
          height: 78px;
          margin-bottom: 10px;
        }
        > p {
          @include BodyText;
          font-size: 16px;
          line-height: 140%;
          width: 315px;
          height: 66px;
          margin-bottom: 40px;
        }
        .info_picture {
          width: 315px;
          height: 315px;
          background: $background-secondary;
          border-radius: 20px;
          > img {
            width: 315px;
            height: 206px;
          }
          .blur_mobile {
            width: 315px;
            height: 109px;
            > h5 {
              @include H5;
              margin-bottom: 10px;
              padding-top: 20px;
              padding-left: 20px;
            }
            .blur_mobile_words {
              margin-left: 20px;
              display: flex;
              > img {
                width: 24px;
                height: 24px;
              }
              > p {
                @include BodyText;
                font-size: 16px;
                line-height: 140%;
                margin-left: 12px;
              }
            }
          }
        }
        > button {
          margin-bottom: 40px;
          margin-top: 40px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 12px;
          width: 315px;
          height: 60px;
          background: $secondary_filled;
          font-family: "Work Sans";
          border-radius: 20px;
          border: 1px solid transparent;
          color: $white;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 140%;
          text-align: center;
          cursor: pointer;
          transition: 0.5s;
          &:hover {
            transform: scale(1.05);
          }
        }
        .ratings {
          width: 315px;
          height: 57px;
          display: flex;

          .rating {
            width: 85px;
            height: 57px;
            > p {
              @include BodyText;
              font-size: 16px;
              line-height: 140%;
            }
            > h4 {
              @include H4;
              font-size: 22px;
              line-height: 160%;
            }
          }
        }
      }
    }
  }
}
.collection {
  width: 100%;
  background-color: $background;
  .collection_container {
    padding-top: 80px;
    padding-bottom: 80px;
    > h3 {
      @include H3;
      margin-bottom: 10px;
    }
    > p {
      @include BodyText;
    }
    .cards {
      display: flex;
      margin-top: 60px;
      .card {
        margin-right: 30px;
        width: 330px;
        height: 525px;
        border-radius: 20px;
        > img {
          width: 330px;
          height: 330px;
          border-radius: 20px;
          transition: 0.5s;
          cursor: pointer;
          &:hover {
            transform: scale(0.95);
          }
        }
        .images {
          margin-top: 15px;
          display: flex;
          margin-bottom: 15px;
          > img {
            width: 100px;
            height: 100px;
            border-radius: 20px;
            margin-right: 15px;
            transition: 0.5s;
            cursor: pointer;
            &:hover {
              transform: scale(0.95);
            }
          }
          > div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 32px 15px;
            gap: 10px;
            width: 100px;
            height: 100px;
            color: $white;
            background: $secondary_filled;
            font-family: "Space Mono";
            border-radius: 20px;
            transition: 0.5s;
            cursor: pointer;
            &:hover {
              transform: scale(0.95);
            }
            > h5 {
              @include H5;
            }
          }
        }
        > h5 {
          @include H5;
          margin-bottom: 10px;
        }
        .collection_footer {
          display: flex;
          > img {
            margin-right: 12px;
            width: 24px;
            height: 24px;
          }
          > p {
            @include BodyText;
            font-size: 16px;
            line-height: 140%;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1280px) {
  .collection {
    .collection_container {
      padding-top: 40px;
      padding-bottom: 40px;
      > h3 {
        @include H4;
        font-weight: 600;
      }
      > p {
        font-size: 16px;
        line-height: 140%;
      }
      .cards {
        margin-top: 40px;
        .hidden {
          display: none;
        }
      }
    }
  }
}
@media screen and (max-width: 834px) {
  .collection {
    .collection_container {
      .cards {
        .card {
          > img {
            width: 315px;
            height: 315px;
          }
          .images {
            > img {
              width: 95px;
              height: 95px;
            }
          }
        }
        .hide {
          display: none;
        }
      }
    }
  }
}
.creators {
  width: 100%;
  background-color: $background;
  .creators_container {
    padding-top: 80px;
    padding-bottom: 80px;
    .left_right {
      display: flex;
      .creators_left {
        width: 703px;
        height: 91px;
        > h3 {
          @include H3;
          margin-bottom: 10px;
        }
        > p {
          @include BodyText;
        }
      }
      .creators_right {
        margin-left: 100px;
        > button {
          margin-top: 31px;
          width: 247px;
          height: 60px;
        }
      }
    }
    .creator_cards {
      width: 1050px;
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      margin-top: 60px;
      .creator_card {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        gap: 20px;
        isolation: isolate;
        width: 240px;
        height: 238px;
        background: $background-secondary;
        border-radius: 20px;
        transition: 0.5s;
        cursor: pointer;
        &:hover {
          transform: scale(0.95);
        }
        .creator_card_top {
          display: flex;
          .creator_number {
            position: absolute;
            width: 30px;
            height: 30px;
            left: 20px;
            top: 18px;
            background: $background;
            border-radius: 20px;
            > span {
              position: absolute;
              width: 10px;
              height: 22px;
              left: calc(50% - 10px / 2);
              top: calc(50% - 22px / 2);
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 140%;
              display: flex;
              align-items: center;
              text-align: center;
              color: $label_text;
            }
            .add {
              position: absolute;
              width: 20px;
              height: 22px;
              left: calc(50% - 20px / 2);
              top: calc(50% - 22px / 2);
              font-family: "Space Mono";
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 140%;
              display: flex;
              align-items: center;
              text-align: center;
            }
          }
        }
        .creator_card_bottom {
          width: 200px;
          height: 58px;
          > h5 {
            @include H5;
            text-align: center;
            margin-bottom: 5px;
          }
          > p {
            @include BodyText;
            font-family: "Space Mono";
            font-size: 16px;
            line-height: 140%;
            margin-left: 4px;
            > span {
              @include BodyText;
              font-family: "Work Sans";
              font-size: 16px;
              line-height: 140%;
              color: $label_text;
              margin-right: 10px;
            }
          }
        }
      }
    }
    .creator_cards_media {
      display: none;
    }
    .mobile_button {
      display: none;
    }
  }
}
@media screen and (max-width: 1280px) {
  .creators {
    .creators_container {
      padding-top: 40px;
      padding-bottom: 40px;
      .left_right {
        .creators_left {
          width: 343px;
          height: 93px;
          > h3 {
            @include H4;
            font-weight: 600;
          }
          > p {
            font-size: 16px;
            line-height: 140%;
          }
        }
        .creators_right {
          > button {
            margin-top: 33px;
          }
        }
      }
      .hidden {
        display: none;
      }
      .creator_cards_media {
        display: flex;
        width: 690px;
        flex-wrap: wrap;
        gap: 30px;
        margin-top: 40px;
        margin-bottom: 40px;
        .creator_card_media {
          position: relative;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: flex-start;
          padding: 20px;
          isolation: isolate;
          width: 330px;
          height: 100px;
          background: $background-secondary;
          border-radius: 20px;
          .creator_card_left_media {
            .creator_number {
              display: flex;
              flex-direction: row;
              align-items: flex-start;
              padding: 0px;
              isolation: isolate;
              position: absolute;
              width: 30px;
              height: 30px;
              left: 12px;
              top: 13px;
              background: $background;
              border-radius: 20px;
              flex: none;
              order: 2;
              flex-grow: 0;
              z-index: 2;
              > span {
                position: absolute;
                width: 10px;
                height: 22px;
                left: calc(50% - 10px / 2);
                top: calc(50% - 22px / 2);
                font-family: "Space Mono";
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 140%;
                display: flex;
                align-items: center;
                text-align: center;
                color: $label_text;
              }
            }
            > img {
              display: flex;
              flex-direction: row;
              align-items: flex-start;
              padding: 0px;
              gap: 10px;
              width: 60px;
              height: 60px;
            }
          }
          .creator_card_right_media {
            width: 210px;
            height: 58px;
            margin-left: 20px;
            > h5 {
              margin-bottom: 5px;
              @include H5;
            }
            > p {
              font-family: "Space Mono";
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 140%;
              color: $white;
              > span {
                @include BodyText;
                font-family: "Work Sans";
                font-size: 16px;
                line-height: 140%;
                margin-right: 16px;
                color: $label_text;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 834px) {
  .creators {
    .creators_container {
      .left_right {
        .creators_left {
          width: 315px;
          height: 93px;
          > p {
            width: 315px;
          }
        }
        .creators_right {
          > button {
            display: none;
          }
        }
      }
      .creator_cards_media {
        gap: 20px;
        width: 315px;
        .creator_card_media {
          gap: 20px;
          width: 315px;
          height: 100px;
          .creator_card_right_media {
            margin-left: 0;
            > p {
              width: 195px;
              > span {
                margin-right: 5px;
              }
            }
          }
        }
      }
      .mobile_button {
        display: flex;
        > button {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 0px 50px;
          gap: 12px;
          width: 315px;
          height: 60px;
          border: 2px solid $secondary_filled;
          color: $white;
          background-color: transparent;
          border-radius: 20px;
          flex: none;
          order: 0;
          flex-grow: 1;
          cursor: pointer;
          transition: 0.5s;
          font-family: "Work Sans";
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 140%;
          text-align: center;

          &:hover {
            transform: scale(1.05);
          }
        }
      }
    }
  }
}
.categories {
  width: 100%;
  margin: auto;
  background-color: $background;
  .categories_container {
    padding-top: 80px;
    padding-bottom: 80px;
    > h3 {
      @include H3;
      margin-bottom: 60px;
    }
    .categories_cards {
      width: 1050px;
      height: 662px;
      gap: 30px;
      display: flex;
      flex-wrap: wrap;
      .categories_card {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 240px;
        height: 316px;
        border-radius: 20px;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(7.5px);
        border-radius: 20px;
        transition: 0.5s;
        cursor: pointer;
        &:hover {
          transform: scale(0.95);
        }
        .categories_image {
          background: rgba(255, 255, 255, 0.1);
          backdrop-filter: blur(7.5px);
          border-radius: 20px 20px 0px 0px;
        }
        .categories_footer {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          padding: 20px 30px 25px;
          gap: 25px;
          width: 240px;
          height: 76px;
          flex: none;
          order: 1;
          align-self: stretch;
          flex-grow: 0;

          > span {
            @include H5;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1280px) {
  .categories {
    .categories_container {
      padding-top: 40px;
      padding-bottom: 40px;
      > h3 {
        margin-bottom: 40px;
      }
      .categories_cards {
        width: 690px;
        height: 470px;
        .categories_card {
          width: 150px;
          height: 231px;
          .categories_image {
            width: 150px;
            height: 142px;
            > img {
              width: 150px;
              height: 142px;
            }
          }
          .categories_footer {
            padding: 20px 20px 25px 20px;
            gap: 25px;
            width: 150px;
            height: 67px;
            > span {
              font-weight: 600;
              font-size: 16px;
              line-height: 140%;
              width: 110px;
              height: 44px;
            }
          }
        }
        .top_card {
          width: 150px;
          height: 209px;
        }
      }
    }
  }
}
@media screen and (max-width: 834px) {
  .categories {
    .categories_container {
      > h3 {
        font-size: 28px;
        line-height: 140%;
      }
      .categories_cards {
        gap: 20px;
        width: 315px;
        height: 918px;
        .categories_card {
          width: 147.5px;
          height: 209px;
        }
      }
    }
  }
}
.discover {
  width: 100%;
  background-color: $background;
  .discover_container {
    padding-bottom: 80px;
    padding-top: 80px;
    .left_and_right {
      display: flex;
      width: 1050px;
      height: 91px;
      .discover_left {
        width: 763px;
        height: 91px;
        > h3 {
          @include H3;
          margin-bottom: 10px;
        }
        > p {
          @include BodyText;
        }
      }
      .discover_right {
        > button {
          margin-top: 31px;
          margin-left: 100px;
          gap: 12px;
          width: 187px;
          height: 60px;
          flex: none;
          order: 1;
          flex-grow: 0;
        }
      }
    }
    .discover_cards {
      gap: 30px;
      width: 1050px;
      margin-top: 60px;
      display: flex;
      .discover_card {
        width: 330px;
        height: 469px;
        background: $background-secondary;
        border-radius: 20px;
        flex: none;
        order: 0;
        flex-grow: 1;
        transition: 0.5s;
        cursor: pointer;
        &:hover {
          transform: scale(0.95);
        }
        .discover_bottom {
          margin: 20px 30px;
          > h5 {
            @include H5;
            margin-bottom: 5px;
          }
          .discover_footer {
            display: flex;
            > img {
              margin-right: 12px;
            }
            > p {
              @include BodyText;
              font-size: 16px;
              line-height: 140%;
              font-family: "Space Mono";
            }
          }
          .discover_info {
            display: flex;
            margin-top: 25px;
            .left_info {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              padding: 0px 21px 0px 0px;
              gap: 8px;
              width: 135px;
              height: 43px;
              > p:first-child {
                @include Caption;
              }
              > p:last-child {
                @include BodyText;
                font-size: 16px;
                line-height: 140%;
                font-family: "Space Mono";
              }
            }
            .right_info {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: flex-end;
              padding: 0px;
              gap: 8px;
              width: 135px;
              height: 43px;
              > p:first-child {
                @include Caption;
              }
              > p:last-child {
                @include BodyText;
                font-size: 16px;
                line-height: 140%;
                font-family: "Space Mono";
              }
            }
          }
        }
      }
    }
    .mobile_button {
      display: none;
    }
  }
}
@media screen and (max-width: 1280px) {
  .discover {
    .discover_container {
      padding-top: 40px;
      .left_and_right {
        width: 690px;
        height: 71px;
        .discover_left {
          > h3 {
            font-size: 28px;
            line-height: 140%;
          }
          > p {
            font-size: 16px;
            line-height: 140%;
          }
        }
        .discover_right {
          > button {
            margin-top: 11px;
          }
        }
      }
      .discover_cards {
        width: 690px;
        .discover_card {
          width: 330px;
          height: 469px;
        }
        .hiddenCard {
          display: none;
        }
      }
    }
  }
}
@media screen and (max-width: 834px) {
  .discover {
    .discover_container {
      padding-bottom: 60px;
      .left_and_right {
        width: 315px;
        height: 71px;
        .discover_left {
          > h3 {
            font-size: 28px;
            line-height: 140%;
          }
          > p {
            font-size: 16px;
            line-height: 140%;
          }
        }
        .discover_right {
          display: none;
        }
      }
      .discover_cards {
        width: 315px;

        display: flex;
        flex-direction: column;
        margin-top: 40px;
        .discover_card {
          gap: 30px;
          width: 315px;
          height: 402px;
          .discover_top {
            > img {
              width: 315px;
              height: 238px;
            }
          }
          .discover_bottom {
            margin: 20px;
          }
        }
        .hiddenCard {
          display: initial;
        }
      }
      .mobile_button {
        display: flex;
        > button {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 0px 50px;
          gap: 12px;
          width: 315px;
          height: 60px;
          border: 2px solid $secondary_filled;
          color: $white;
          background-color: transparent;
          border-radius: 20px;
          flex: none;
          order: 0;
          flex-grow: 1;
          cursor: pointer;
          transition: 0.5s;
          font-family: "Work Sans";
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 140%;
          text-align: center;

          &:hover {
            transform: scale(1.05);
          }
        }
      }
    }
  }
}
.mushroom {
  background-image: url("../../assests/images/mushroom.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1280px;
  height: 639px;
  margin: auto;
  z-index: -1;
  .mushroom_container {
    display: none;
  }
}
@media screen and (max-width: 1280px) {
  .mushroom::before {
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(162, 89, 255, 0) 0%, #a259ff 100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .mushroom {
    position: relative;
    height: 630px;
    .mushroom_container {
      z-index: 10;
      position: absolute;
      bottom: 60px;
      left: 50%;
      transform: translate(-50%);
      display: flex;
      justify-content: center;
      padding: 0px;
      width: 670px;
      height: 210px;
      .mushroom_left {
        display: flex;
        flex-direction: column;

        width: 375px;
        height: 210px;

        .tag {
          display: flex;
          align-items: center;
          padding: 10px 20px;
          margin-bottom: 30px;
          width: 151px;
          height: 44px;
          background: #3b3b3b;
          border-radius: 20px;
          > img {
            width: 24px;
            height: 24px;
          }
          > p {
            @include BodyText;
            font-size: 16px;
            line-height: 140%;
            margin-left: 12px;
            columns: $white;
          }
        }
        > h3 {
          @include H3;
          margin-bottom: 30px;
        }
        > button {
          width: 198px;
          height: 60px;
          background: $white;
          color: $secondary_filled;
        }
      }
      .mushroom_right {
        width: 295px;
        height: 210px;
        .clock {
          margin-top: 66px;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: flex-start;
          padding: 30px;
          width: 295px;
          height: 144px;
          background: rgba(59, 59, 59, 0.5);
          backdrop-filter: blur(5px);
          border-radius: 20px;
          > p {
            @include Caption;
            margin-top: 30px;
            margin-bottom: 10px;
            color: $white;
          }
          .time {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 0px;
            width: 235px;
            height: 61px;
            .time_general {
              width: 53px;
              height: 61px;
              > h3 {
                @include H3;
                font-family: "Space Mono";
                margin-bottom: 5px;
              }
              > p {
                @include BodyText;
                font-weight: 400;
                font-size: 12px;
                line-height: 110%;
              }
            }
            .time_point {
              width: 18px;
              height: 39px;
              margin-left: 10px;
              margin-right: 10px;
              > h3 {
                @include H3;
                font-family: "Space Mono";
              }
            }
          }
        }
        .hidden {
          display: none;
        }
      }
    }
  }
}
@media screen and (max-width: 864px) {
  .mushroom::before {
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(162, 89, 255, 0) 0%, #a259ff 100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .mushroom {
    position: relative;
    height: 590px;
    .mushroom_container {
      bottom: 40px;
      width: 315px;
      height: 430px;
      display: flex;
      flex-direction: column;
      .mushroom_left {
        display: flex;
        flex-direction: column;
        width: 315px;
        height: 196px;
        > h3 {
          @include H3;
          margin-bottom: 0px;
        }
        .hide {
          display: none;
        }
      }
      .mushroom_right {
        width: 295px;
        height: 210px;
        .clock {
          margin-top: 0px;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: flex-start;
          padding: 30px;
          width: 295px;
          height: 144px;
          background: rgba(59, 59, 59, 0.5);
          backdrop-filter: blur(5px);
          border-radius: 20px;
          > p {
            @include Caption;
            margin-top: 30px;
            margin-bottom: 10px;
            color: $white;
          }
          .time {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 0px;
            width: 235px;
            height: 61px;
            .time_general {
              width: 53px;
              height: 61px;
              > h3 {
                @include H3;
                font-family: "Space Mono";
                margin-bottom: 5px;
              }
              > p {
                @include BodyText;
                font-weight: 400;
                font-size: 12px;
                line-height: 110%;
              }
            }
            .time_point {
              width: 18px;
              height: 39px;
              margin-left: 10px;
              margin-right: 10px;
              > h3 {
                @include H3;
                font-family: "Space Mono";
              }
            }
          }
        }
        .hidden {
          display: initial;
        }
        > button {
          margin-top: 30px;
          width: 315px;
          height: 60px;
          background: $white;
          color: $secondary_filled;
        }
      }
    }
  }
}
.work {
  width: 100%;
  margin: auto;
  background-color: $background;
  .work_container {
    padding-bottom: 80px;
    padding-top: 80px;
    > h3 {
      @include H3;
      margin-bottom: 10px;
    }
    > p {
      @include BodyText;
      margin-bottom: 48px;
    }
    .work_cards {
      gap: 30px;
      width: 1050px;
      display: flex;
      .work_card {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 30px 30px;
        gap: 20px;
        width: 330px;

        background: $background-secondary;
        border-radius: 20px;
        .words {
          > h5 {
            @include H5;
            margin-bottom: 10px;
            text-align: center;
          }
          > p {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            text-align: center;
            color: $white;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1280px) {
  .work {
    .work_container {
      padding-bottom: 40px;
      padding-top: 40px;
      > h3 {
        font-size: 28px;
        line-height: 140%;
      }
      > p {
        font-size: 16px;
        line-height: 140%;
        margin-bottom: 40px;
      }
      .work_cards {
        width: 690px;

        .work_card {
          width: 210px;
          > img {
            width: 160px;
            height: 160px;
          }
          .words {
            > h5 {
              font-size: 16px;
            }
            > p {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 834px) {
  .work {
    .work_container {
      .work_cards {
        width: 315px;
        display: flex;
        flex-direction: column;
        .work_card {
          width: 315px;
          display: flex;
          flex-direction: row;
          padding: 0;
          gap: 0;
          > img {
            width: 100px;
            height: 100px;
            margin: 28.5px 20px;
          }
          .words {
            width: 155px;
            margin: 20px 20px 20px 0;
          }
        }
      }
    }
  }
}
.join {
  width: 100%;
  margin: auto;
  background-color: $background;
  .join_container {
    margin-top: 40px;
    margin-bottom: 80px;
    background-color: $background-secondary;
    width: 1050px;
    display: flex;
    .join_left {
      > img {
        margin: 60px 80px 60px 60px;
      }
    }
    .join_right {
      margin-top: 79px;
      margin-right: 60px;
      width: 425px;
      height: 272px;
      > h3 {
        @include H3;
        margin-bottom: 10px;
      }
      > p {
        @include BodyText;
        margin-bottom: 40px;
      }
      .inputs {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 425px;
        height: 60px;
        > input {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          align-items: center;
          padding: 0px 25px;
          width: 231px;
          height: 60px;
          border-radius: 20px;
          border: 1px solid transparent;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 140%;
          color: $background;
        }

        > button {
          padding: 0px 50px;
          width: 211px;
          height: 62px;
          margin-left: -65px;
          flex: none;
          order: 1;
          flex-grow: 0;
          &:hover {
            transform: scale(1);
            background-color: #462275;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1280px) {
  .join {
    .join_container {
      width: 690px;
      .join_left {
        > img {
          width: 300px;
          height: 280px;
          margin: 40px 30px;
        }
      }
      .join_right {
        width: 300px;
        margin-top: 40px;
        > h3 {
          font-size: 28px;
          line-height: 140%;
        }
        > p {
          font-size: 16px;
          line-height: 140%;
        }
        .inputs {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 300px;
          height: 108px;
          > input {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 270px;
            height: 46px;
            background: #ffffff;
            border: 1px solid #858584;
            border-radius: 20px;
            padding: 0 15px;
            margin-bottom: 16px;
          }
          > button {
            padding: 0px 50px;
            width: 300px;
            height: 46px;
            background: $secondary_filled;
            margin-left: 0;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 834px) {
  .join {
    .join_container {
      width: 315px;
      display: flex;
      background-color: transparent;
      flex-direction: column;
      .join_left {
        > img {
          width: 315px;
          height: 255px;
          margin: 0;
        }
      }
      .join_right {
        width: 310px;
        margin-top: 30px;
      }
    }
  }
}
