.register {
  width: 100%;
  .container {
    width: 1280px;
    margin: auto;
  }
  .register_container {
    margin: auto;
    width: 1280px;
    height: 691px;
    display: flex;
    .register_left {
      margin-right: 60px;
      .hidden {
        width: 610px;
        height: 691px;
      }
      .hide {
        display: none;
      }
    }
    .register_right {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 65px 0px;
      width: 610px;
      > h2 {
        @include H2;
        margin-bottom: 20px;
      }
      > p {
        @include BodyText;
        margin-bottom: 40px;
        width: 460px;
        height: 70px;
      }
      .input {
        position: relative;
        > img {
          position: absolute;
          top: 13px;
          left: 20px;
        }
        > input {
          margin-bottom: 3px;
        }
        > p {
          margin-bottom: 3px;
          @include BodyText;
          font-size: 16px;
          text-transform: none;
          color: $white;
          font-weight: 300;
        }
      }
      > button {
        margin-top: 15px;
        padding: 11px 50px;
        gap: 12px;
        width: 330px;
        height: 46px;
      }
    }
  }
}
@media screen and (max-width: 1280px) {
  .register {
    width: 100%;
    .container {
      width: 834px;
    }
    .register_container {
      margin: auto;
      width: 834px;
      height: 615px;
      display: flex;
      .register_left {
        margin-right: 40px;
        .hidden {
          width: 397px;
          height: 615px;
        }
      }
      .register_right {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 50px 0px;
        width: 397px;
        > h2 {
          font-size: 38px;
          line-height: 120%;
        }
        > p {
          font-size: 16px;
          line-height: 140%;
          width: 325px;
          height: 44px;
        }
        .input {
          position: relative;
          > img {
            position: absolute;
            top: 13px;
            left: 20px;
          }
          > input {
            width: 235px;
          }
          > p {
            font-size: 14px;
          }
        }
        > button {
          width: 325px;
        }
      }
    }
  }
}
@media screen and (max-width: 834px) {
  .register {
    width: 100%;
    .container {
      width: 375px;
      margin: auto;
    }
    .register_container {
      margin: auto;
      width: 375px;
      height: 795px;
      display: flex;
      flex-direction: column;
      .register_left {
        margin-right: 0;
        .hidden {
          display: none;
        }
        .hide {
          display: block;
        }
      }
      .register_right {
        display: flex;
        flex-direction: column;
        margin: auto;
        padding: 30px 0px;
        width: 315px;
        > p {
          margin-bottom: 30px;
          width: 315px;
          height: 44px;
        }
        .input {
          > input {
            width: 225px;
          }
        }
        > button {
          width: 315px;
        }
      }
    }
  }
}
