.navbar {
  width: 100%;
  height: 100px;
  margin: auto;
  .container {
    width: 1050px;
    margin: auto;
  }
  .navbar_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    .navbar_left {
      display: flex;
      align-items: center;
      height: 32px;
      cursor: pointer;
      .navbar_logo {
        width: 32px;
        height: 32px;
      }
      .navbar_logo_words {
        margin-left: 12px;
        margin-top: 8.6px;
        margin-bottom: 3.6px;
        width: 199.41px;
        height: 19.8px;
      }
    }
    .navbar_right {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      gap: 10px;
      > a {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 140%;
        text-align: center;
        color: $white;
        text-decoration: none;
        padding: 20px;
        transition: 0.5s;
        &:hover {
          transform: scale(1.05);
        }
      }
      > button {
        width: 152px;
        height: 60px;
      }
      > img {
        display: none;
        cursor: pointer;
      }
    }
  }
}
.sidebar {
  width: 0px;
  position: absolute;
  transition: 0.5s;
  z-index: 15;
  .link_sidebar {
    display: none;
  }
}
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
@media screen and (max-width: 1050px) {
  .sidebar {
    width: 0px;
    display: flex;
    background-color: $background_secondary;
    position: fixed;
    top: 0px;
    right: 0px;
    height: 100vh;
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto;
    .link_sidebar {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 0px;
      left: 0;
      bottom: 0;
      padding: 0;
      box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
      z-index: 60;
      width: 250px;
      > img {
        width: 50px;
        height: 50px;
        margin-top: 25px;
        margin-left: auto;
        margin-right: 10px;
        cursor: pointer;
        margin-bottom: 150px;
      }
      a {
        width: 290px;
        text-decoration: none;
        display: flex;
        align-items: center;
        color: $white;
        margin-top: 10px;
        margin-bottom: 30px;
        > img {
          width: 30px;
          height: 30px;
          margin-right: 10px;
          margin-left: 10px;
        }
        > span {
          font-size: 17px;
          font-weight: 500;
          line-height: 120%;
        }
      }
      .lastimage {
        display: none;
      }
      > button {
        margin-left: 15px;
        margin-top: auto;
        margin-bottom: 30px;
        width: 220px;
        height: 50px;
        font-weight: 400;
        font-size: 16px;
        > img {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
  .visible {
    width: 250px;
    z-index: 10;
  }
}
@media screen and (max-width: 690px) {
  .sidebar {
    width: 0px;
    display: flex;
    background-color: $background_secondary;
    position: fixed;
    top: 0px;
    right: 0;
    height: 100vh;
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 15;
    .link_sidebar {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 0px;
      left: 0;
      bottom: 0;
      padding: 0;
      box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
      z-index: 60;
      width: 250px;
      > img {
        width: 40px;
        height: 40px;
        margin-top: 15px;
        margin-left: 5px;
        margin-right: 0px;
        cursor: pointer;
        margin-bottom: 150px;
      }
      a {
        width: 290px;
        text-decoration: none;
        display: flex;
        align-items: center;
        color: $white;
        margin-top: 10px;
        margin-bottom: 30px;
        > img {
          width: 30px;
          height: 30px;
          margin-right: 10px;
          margin-left: 10px;
        }
        > span {
          font-size: 23px;
          font-weight: 500;
          line-height: 120%;
          margin-left: 3px;
        }
      }
      .lastimage {
        display: block;
        width: 30px;
        margin-left: 10px;
        margin-top: auto;
        margin-bottom: 30px;
      }
      > button {
        display: none;
      }
    }
  }
  .visible {
    width: 52px;
  }
}
@media screen and (max-width: 1050px) {
  .navbar {
    height: 54px;
    .container {
      width: 100%;
      margin: auto;
    }
    .navbar_container {
      padding: 15px 50px;
      .navbar_left {
        height: 24px;
        .navbar_logo {
          width: 24px;
          height: 24px;
        }
        .navbar_logo_words {
          margin-left: 9px;
          margin-top: 6.45px;
          margin-bottom: 2.7px;
          width: 149.56px;
          height: 14.85px;
        }
      }
      .navbar_right {
        > a {
          display: none;
        }
        > button {
          display: none;
        }
        > img {
          display: initial;
        }
      }
    }
  }
}
@media screen and (max-width: 690px) {
  .navbar {
    .container {
      width: 375px;
      margin: auto;
    }
    .navbar_container {
      padding: 15px 30px;
    }
  }
}
