.register_input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 45px;
  gap: 12px;
  width: 240px;
  height: 12px;
  background: $white;
  border-radius: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: $background;
  border: 1px solid transparent;
}
input:focus {
  outline: none;
}
